# Форматы данных (1)

Материалы:
* Макрушин С.В. "Лекция 4: Форматы данных"
* https://docs.python.org/3/library/json.html
* https://docs.python.org/3/library/pickle.html
* https://www.crummy.com/software/BeautifulSoup/bs4/doc.ru/bs4ru.html
* Уэс Маккини. Python и анализ данных

In [1]:
import pandas as pd
import json
import xml.etree.ElementTree as ET
import pickle
import os

## Задачи для совместного разбора

1. Вывести все адреса электронной почты, содержащиеся в адресной книге `addres-book.json`

In [2]:
with open(r'data_addres-book.json', 'r', encoding='utf-8') as f:
    contr = json.load(f)

mail = [];
for i in contr:
    mail.append(i['email'])
print(mail)

['faina@mail.ru', 'robert@mail.ru']

2. Вывести телефоны, содержащиеся в адресной книге `addres-book.json`

In [3]:
with open(r'data_addres-book.json', 'r', encoding='utf-8') as f:
    contr = json.load(f)
print(contr)

[{'name': 'Faina Lee', 'email': 'faina@mail.ru', 'birthday': '22.08.1994', 'phones': [{'phone': '232-19-55'}, {'phone': '+7 (916) 232-19-55'}]}, {'name': 'Robert Lee', 'email': 'robert@mail.ru', 'birthday': '22.08.1994', 'phones': [{'phone': '111-19-55'}, {'phone': '+7 (916) 445-19-55'}]}]

In [4]:
t = []
for i in contr:
    phones = i['phones']
    for p in phones:
        t.append(p['phone'])
print(t)

['232-19-55', '+7 (916) 232-19-55', '111-19-55', '+7 (916) 445-19-55']

3. По данным из файла `addres-book-q.xml` сформировать список словарей с телефонами каждого из людей.

In [5]:
tree = ET.parse('data_addres-book-q.xml')
root = tree.getroot()
t = []
for country in root.findall('country'):
    for address in country.findall('address'):
        for phone in address.find('phones'):
            t.append(phone.text)

print(t)

['+ (213) 6150 4015', '+ (213) 2173 5247', '+ (244-2) 325 023', '+ (244-2) 325 023', '+ (244) 4232 2836', '+ (244-2) 325 023', '+ (244-2) 325 023', '+ (54-11) 4784 1159', '+ (61-2) 6274 9500', '+ (61-2) 6274 9513', '+ (61-3) 9807 4702']

## Лабораторная работа №4

### JSON

1.1 Считайте файл `contributors_sample.json`. Воспользовавшись модулем `json`, преобразуйте содержимое файла в соответствующие объекты python. Выведите на экран информацию о первых 3 пользователях.

In [6]:
with open(r'data_contributors_sample.json', 'r', encoding='utf-8') as f:
    contr = json.load(f)
    
display(contr[0], contr[1], contr[2])

{'username': 'uhebert',
 'name': 'Lindsey Nguyen',
 'sex': 'F',
 'address': '01261 Cameron Spring\nTaylorfurt, AK 97791',
 'mail': 'jsalazar@gmail.com',
 'jobs': ['Energy engineer',
  'Engineer, site',
  'Environmental health practitioner',
  'Biomedical scientist',
  'Jewellery designer'],
 'id': 35193}

{'username': 'vickitaylor',
 'name': 'Cheryl Lewis',
 'sex': 'F',
 'address': '66992 Welch Brooks\nMarshallshire, ID 56004',
 'mail': 'bhudson@gmail.com',
 'jobs': ['Music therapist',
  'Volunteer coordinator',
  'Designer, interior/spatial'],
 'id': 91970}

{'username': 'sheilaadams',
 'name': 'Julia Allen',
 'sex': 'F',
 'address': 'Unit 1632 Box 2971\nDPO AE 23297',
 'mail': 'darren44@yahoo.com',
 'jobs': ['Management consultant',
  'Engineer, structural',
  'Lecturer, higher education',
  'Theatre manager',
  'Designer, textile'],
 'id': 1848091}

1.2 Выведите уникальные почтовые домены, содержащиеся в почтовых адресах людей

In [7]:
values = [];
mail = [];
for i in contr:
    domen = i['mail'].split('@')[1]
    if(domen not in mail):
         mail.append(domen);
print(mail)

['gmail.com', 'yahoo.com', 'hotmail.com']

1.3 Напишите функцию, которая по `username` ищет человека и выводит информацию о нем. Если пользователь с заданным `username` отсутствует, возбудите исключение `ValueError`

In [8]:
def func(x):
    flag = 0
    for dictionary in contr: 
        if dictionary["username"] == x:
            display(dictionary)
            flag = 1
            break
    if flag == 0:
        raise ValueError('Пользователь не найден')

func(input())

vickitaylor

{'username': 'vickitaylor',
 'name': 'Cheryl Lewis',
 'sex': 'F',
 'address': '66992 Welch Brooks\nMarshallshire, ID 56004',
 'mail': 'bhudson@gmail.com',
 'jobs': ['Music therapist',
  'Volunteer coordinator',
  'Designer, interior/spatial'],
 'id': 91970}

1.4 Посчитайте, сколько мужчин и женщин присутсвует в этом наборе данных.

In [9]:
k_m = 0 #men
k_w = 0 #women
for d in contr:
    if d['sex'] == 'F':
        k_w += 1
    else:
        k_m += 1
print(k_m, k_w)

2064 2136

1.5 Создайте `pd.DataFrame` `contributors`, имеющий столбцы `id`, `username` и `sex`.

In [10]:
contributors = pd.DataFrame.from_dict(contr)
contributors = contributors[['id', 'username', 'sex']]
contributors

           id       username sex
0       35193        uhebert   F
1       91970    vickitaylor   F
2     1848091    sheilaadams   F
3       50969       nicole82   F
4      676820         jean67   M
...       ...            ...  ..
4195   423555  stevenspencer   F
4196    35251      rwilliams   M
4197   135887      lmartinez   F
4198   212714     brendahill   M
4199   344321       mistyray   F

[4200 rows x 3 columns]

1.6 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Объедините `recipes` с таблицей `contributors` с сохранением строк в том случае, если информация о человеке отсутствует в JSON-файле. Для скольких человек информация отсутствует?

In [11]:
recipes = pd.read_csv('recipes_sample.csv')

contributors_recipes = pd.merge(recipes, contributors, left_on='contributor_id', right_on='id', how='left')
contributors_recipes

,name,id_x,minutes,contributor_id,submitted,n_steps,description,n_ingredients,id_y,username,sex
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,35193.0,uhebert,F
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,91970.0,vickitaylor,F
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,NaN,NaN,NaN
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,NaN,NaN,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,200862.0,ana38,F
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,177443.0,douglas33,F
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,NaN,NaN,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,227978.0,jessica22,M
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,506822.0,markchang,F

In [12]:
contributors_recipes['username'].isnull().sum()

15059

### pickle

2.1 На основе файла `contributors_sample.json` создайте словарь следующего вида: 
```
{
    должность: [список username людей, занимавших эту должность]
}
```

In [13]:
positions = {}
for dictionary in contr:
    jobs = set(dictionary['jobs'])
    for job in jobs:
        if job in positions:
            positions[job].append(dictionary['username'])
        else:
            positions[job] = [dictionary['username']]

In [14]:
#positions

2.2 Сохраните результаты в файл `job_people.pickle` и в файл `job_people.json` с использованием форматов pickle и JSON соответственно. Сравните объемы получившихся файлов. При сохранении в JSON укажите аргумент `indent`.

In [15]:
with open('job_people.pickle', 'wb') as f:
    pickle.dump(positions, f)

with open('job_people.json', 'w') as f:
    json.dump(positions, f, indent=4)

In [16]:
print(os.path.getsize('job_people.pickle'), os.path.getsize('job_people.json'))

132059 406637

2.3 Считайте файл `job_people.pickle` и продемонстрируйте, что данные считались корректно.

In [17]:
with open('job_people.pickle', 'rb') as f:
    job_people = pickle.load(f)
    
#job_people

### XML

3.1 По данным файла `steps_sample.xml` сформируйте словарь с шагами по каждому рецепту вида `{id_рецепта: ["шаг1", "шаг2"]}`. Сохраните этот словарь в файл `steps_sample.json`

In [18]:
tree = ET.parse('data_steps_sample.xml')
root = tree.getroot()

d = {}

for recipe in root.findall('recipe'):
    id_r = recipe.find('id').text
    steps = []
    for step in recipe.find('steps').findall('step'):
        steps.append(step.text)
    d[id_r] = steps

with open('steps_sample.json', 'w') as f:
    json.dump(d, f)

3.2 По данным файла `steps_sample.xml` сформируйте словарь следующего вида: `кол-во_шагов_в_рецепте: [список_id_рецептов]`

In [19]:
s = {}
for recipe in root.findall('recipe'):
    k = len(recipe.find('steps').findall('step'))
    id_r = recipe.find('id').text
    if k in s:
        s[k].append(id_r)
    else:
        s[k] = [id_r]
#s

3.3 Получите список рецептов, в этапах выполнения которых есть информация о времени (часы или минуты). Для отбора подходящих рецептов обратите внимание на атрибуты соответствующих тэгов.

In [20]:
r = []

for recipe in root.findall('recipe'):
    id_r = recipe.find('id').text
    steps = recipe.find('steps').findall('step')
    for step in steps:
        if 'has_minutes' in step.attrib or 'has_degrees' in step.attrib:
            r.append(id_r)
            break
#r

3.4 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Для строк, которые содержат пропуски в столбце `n_steps`, заполните этот столбец на основе файла  `steps_sample.xml`. Строки, в которых столбец `n_steps` заполнен, оставьте без изменений.

In [21]:
recipes = pd.read_csv('recipes_sample.csv')
recipes['n_steps'].isnull().sum()

11190

In [27]:
steps = {a: len(x) for a,x in d.items()}
steps = pd.DataFrame(steps.items(), columns=['id', 'n_steps'])
recipes[['id', 'n_steps']] = recipes[['id', 'n_steps']].fillna(steps)

recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,11.0,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,3.0,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,5.0,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,7.0,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,22.0,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,10.0,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,7.0,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

3.5 Проверьте, содержит ли столбец `n_steps` пропуски. Если нет, то преобразуйте его к целочисленному типу и сохраните результаты в файл `recipes_sample_with_filled_nsteps.csv`

In [28]:
recipes['n_steps'].isnull().sum()

0

In [29]:
recipes['n_steps'] = recipes['n_steps'].astype(int)
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,11,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,3,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,5,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,7,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,22,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,10,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,7,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9,"i've heard of the 'cookies by design' company,...",10.0

In [30]:
recipes.to_csv('recipes_sample_with_filled_nsteps.csv')